.ReusableInput {
    width: 100%;
    margin: 10px 0;
}

.wrapper {
    position: relative;
    width: 100%;
}

.visible {
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 34px;
    height: 20px;
    right: 0;
    top: 50%;
    transform: translateY(-70%);
    border: none;
    cursor: pointer;
    background: transparent;
}

.visible:hover > .visible img {
    display: none;
}