.profile{
    min-height: 216px;
    background-color: #D9D9F1;
    border-radius: 4px 0 0 0 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 10px;
}
.profile:hover{
    background-color: #cdcdef;
}

.icon{
    position: absolute;
    top: 8px;
    right: 12px;
}

.image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom:15px ;
}
.name{
    color: #2D2E46;
    size : 18px;
    line-height: 27px;
    font-weight: bolder;
    text-align:center;
}
.aboutMe{
    margin-top: 4px;
    color: rgba(60, 45, 61, 0.5);
    size : 14px;
    line-height: 16.71px;
    text-align:center;
}