.paperContainer{
    margin: 50px auto;
    min-width: 390px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    position: relative;
}


.additionalTitle{
    color: rgba(60, 45, 61, 0.5);
    letter-spacing: 0.1em;
    padding: 0;
    text-align: center;
    position: relative;
    top:20px;
    /*position: absolute;
    top: 20px*/
}
.mainTitle {
    color: rgba(60, 45, 61, 0.9);
    padding: 0;
    margin: 20px auto 40px;
    position: relative;
   /* position: absolute;*/
    top: 20px;
    text-align: center;
}

.content{
    position: relative;
    top:0;
    bottom:50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    height: 70%;
   /*height: 200px;*/
    /*width: 90%;*/
   /*background-color: red;*/
    /*min-width: 350px;*/
    padding: 0 50px 20px;
  /*  position: absolute;*/

  /* !* top: 20px;*!
    bottom:50px;*/
    justify-content: space-around;
}
.card{
    padding: 0 20px;
    bottom:40px;
    top: 10px;
    justify-content: space-between;
}

.content p,
.content span,
.content label{
    font-size: 0.9rem;
    color: rgba(0,0,0,0.5);
    /*text-align: center;*/
    text-align: justify;
}


/*



.column form,
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    min-width: 350px;
    padding: 0 15px;
    position: absolute;
    top: 50px;
    bottom:40px;
    justify-content: space-around;
}

.content .message {
    font-size: 0.9rem;
    color: rgba(0,0,0,0.5);
    text-align: center;
}

}*/
