.content{
    display: flex;
    position: relative;
    top:0;
    width: 300px
}

.title {
    color: rgba(60, 45, 61, 0.9);
    margin: 0 0 6px;
    padding: 0;
}
.info{
    overflow: auto;
    max-height: 90%;
}


