.Table {
    overflow: auto;
    min-width: 720px;
    height: 100%;
    border-radius: 8px;
}


.settingsMenu {
    position: absolute;
    top: 64px;
    display: flex;
    min-width: 500px;
    height: 80px;
    justify-content: space-between;
}

.column {
    display: flex;
    flex-direction: column;
}

.container {
    margin-top: 180px;
    min-height: 80px;
}


.loading {
    position: fixed;
    top: 30%;
    left:46%;
    width: 100%;
}
