.Table {
    overflow: auto;
    max-width: 900px;
    height: 100%;
    border: 2px solid rgba(224, 224, 224, 1);
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    border-radius: 5px;
}

.settingsMenu {
    position: absolute;
    top: 64px;
    display: flex;
    min-width: 500px;
    justify-content: space-around;
}

.column {
    display: flex;
    flex-direction: column;
}

.container {
    margin-top: 180px;
    min-height: 80px;
}

.loadind {
    position: absolute;
    z-index: 1;
    top: 200px;
    left: 480px;
}