.wrapper {
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    height: 100vh;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body {
    margin: auto;
    background: white;
    margin-top: 15%;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.36);
}

.containerModal {
    text-align: center  ;
}

.titleModal {
    font-size:larger;
    padding: 0 80px 30px 80px;
}

.buttonLRMargin {
    margin-left: 10px;
    margin-right: 10px;
}