.header {
    text-align: center;
    color: #2D2E46;
    font-weight: bold;
}

.subheader {
    text-align: center;
    color: #2D2E46;
}

.error {
    tab-size: 20px;
    margin-top: 10px;
    text-align: center;
    color: red;
}

.group {
    position: relative;
}

.eye {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 45px;
    bottom: 35px;
    cursor: pointer;
}

.singIn {
    font-weight: bold;
    text-decoration: none;
    color: #21268F;
    display: block;
    text-align: center;
}

