.header {
    text-align: center;
    color: #2D2E46;
    font-weight: bold;
}

.subheader {
    text-align: center;
    color: #2D2E46;
}

.error {
    tab-size: 20px;
    margin-top: 10px;
    text-align: center;
    color: red;
}
